*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Open Sans';
    min-height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 90rem;
}


.left-menu {
    background-color: rgb(58, 23, 63);
    background-color: rgba(101,18,95,0.5);    
    color: white;
    display: block;
    float:left;
    width: 30%;
    height: 100vh
    
}

.chat-area {
    background-color: antiquewhite;
    color: rgb(58, 23, 63);
    display: block;
    float: right;
    width: 70%;
    height: 100vh;
}

.left-menu-container {
    padding-left: 10%;
    padding-top: 5%;
}

.title {
    font-family: fantasy;
    font-size: 2.5rem;
}

.create-room-button {
    margin-top: 25%;
    padding: 10px 5px 10px 5px;
}

.room-list {
    font-size: 1.25rem;
}

.chat-container {
    padding-left: 5%;
    padding-top: 5%;
}

.chat-room-title {
    font-family: fantasy;
    font-size: 1.5rem;    
}

.user-name {
    font-weight: 700;
    padding-bottom: 5rem;
}

.even {
    background-color: white;
}

.evenfix {
   overflow: hidden; 
}

/*Medium and small screens (640px) */
@media (min-width: 640px) {
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

.clearfix::before,

.clearfix::after {
    content: " ";
    display: table;  
}

.clearfix::after {
    clear: both;
}