<div class="container">   
    <div class="left-menu"> 
        <div class="left-menu-container">
            <section class="clearfix">    
                <div class ="column two-thirds ">
                    <h1 class="title">Bloc Chat</h1>
                </div>
                <div class="column third">
                    <button class="create-room-button" type="button" ng-click="home.open()">New Room</button>
                </div>
                <div class="clearfix">
                    <div class="room-list column full" ng-repeat="chatroom in home.availableRooms">
                        <p ng-click="home.roomActivation(chatroom.$value); home.messageActivation(chatroom.$id)">{{ chatroom.$value }}</p>
                    </div>
                </div> 
            </section>
        </div>    
    </div>

    <div class="chat-area">
        <div class="chat-container">
            <section>
                <div class="chat-header">
                    <h2 class="chat-room-title" ng-show="!home.activeRoomSelected"></h2>
                    <h2 class="chat-room-title" ng-show="home.activeRoomSelected">{{ home.activeRoom }}</h2>
                </div>  
                <div class="clearfix" >
                    <p ng-show="!home.activeRoomSelected"><strong>Select a chatroom to get started.</strong></p>
                    <div ng-repeat="messages in home.activeMessage">
                        <div ng-class-even="'even'" class="evenfix">
                            <p class="column two-thirds">
                                <span class="user-name">{{ messages.username }}</span><br>
                                {{ messages.content }}
                            </p>    
                            <p class="column third"> {{ messages.sentAt }}</p>   
                        </div>
                    </div>
                </div>                 
            </section>
            <section ng-show="home.activeRoomSelected" class="message-entry-container">
                <form novalidate>
                    <input type="text" ng-model="home.messageObject.content" placeholder="Enter your message here" class="column three-fourths message-entry-field" required/>   
                    <input type="submit" ng-click="home.messageSubmit()" value="Send" class="column fourth message-entry-field"/>
                </form>
            </section>
        </div>
    </div>
</div>