
    <div class="modal-content">
        <div class="modal-header">
            <h3>Create a new room</h3>
        </div>
        <div class="modal-body">
            <div ng-controller="RoomAddCtrl as roomAdd">
                <form novalidate>
                    <label>Enter a room name <input type="text" ng-model="roomAdd.roomx.myName" required/></label>
                    <br/><br/>
                    <input type="button" ng-click="roomAdd.close()" value="Cancel" />    
                    <input type="submit" ng-click="roomAdd.update()" value="Create Room" />
                </form>
            </div>
        </div>
    </div>

    